body{
   background-color: #3f3d3d;
   color: #ffffff;

}


/*.logo{

  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  max-width: 180px;
}*/


/*h1{
  margin: 0 auto;

}*/
/*.name{
font-size: 200%;
margin: 1em 0 .5em 0;
text-align: center;

}

.pencil{
  color:  #ce1938;
}
.dash{
  color: #ffffff;
}
.u{
  color: #fdba1c;

}

.in{
  color: #00b300;
}

.about{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4%;
  font-size:120%;
  text-align: center;
  overflow: auto;
  max-width: 35em;

  font-family: pantone;



}


i{
  font-style: italic;
font-family: sans-serif;
font-family: chalkboard;
  font-size: 150%;
}*/

/*.appt-summary
.form-group{
  max-width: 20em;
  margin-left: auto;
  margin-right: auto;

}*/

/*.user-input{
  outline: none;
  /*max-width: 20em;
  min-width: 15em;*/

  /*margin-left: auto;*/
  /*margin-right: auto;*/
/*}*/
